<div class="container-fluid">
	<div class="row">
		<div class="col">

			<div class="carousel slide" id="carousel-home">
				<ol class="carousel-indicators">
				<% @carrousels.each_with_index do |c, i| %>
				<% if i == 0 %>
				    <li class="active" data-slide-to="#{i}" data-target="#carousel-home">
				    </li>
				  <% else %>
				    <li data-slide-to="#{i}" data-target="#carousel-home">
				    </li>
				  <% end %>
				<% end %>
				</ol>
				<div class="carousel-inner">
							<% @carrousels.each_with_index do |c, i| %>
							<% if i == 0 %>
		  					<div class="item active">
							  <%= image_tag(c.image1.url(:default), :class => "visible-xs-block" , :alt => "Carousel #{i}") %>
							  <%= image_tag(c.image2.url(:default), :class => "visible-sm-block" , :alt => "Carousel #{i}") %>
							  <%= image_tag(c.image3.url(:default), :class => "visible-md-block" , :alt => "Carousel #{i}") %>
							  <%= image_tag(c.image4.url(:default), :class => "visible-lg-block" , :alt => "Carousel #{i}") %>
							 </div>
 							<% else %>
		  					<div class="item">
							  <%= image_tag(c.image1.url(:default), :class => "visible-xs-block" , :alt => "Carousel #{i}") %>
							  <%= image_tag(c.image2.url(:default), :class => "visible-sm-block" , :alt => "Carousel #{i}") %>
							  <%= image_tag(c.image3.url(:default), :class => "visible-md-block" , :alt => "Carousel #{i}") %>
							  <%= image_tag(c.image4.url(:default), :class => "visible-lg-block" , :alt => "Carousel #{i}") %>		
							</div>
							  <% end %>  				
							
						  <% end %>				
					<!--
					<div class="item active">
						<img class="visible-xs-block" alt="Carousel First" src="<%= asset_path 'Carrousel/carrousel_1_750_350_000000.png' %>" />
						<img class="visible-sm-block" alt="Carousel First" src="<%= asset_path 'Carrousel/carrousel_1_1220_500_000000.png' %>" />
						<img class="visible-md-block" alt="Carousel First" src="<%= asset_path 'Carrousel/carrousel_1_1520_550_000000.png' %>" />
						<img class="visible-lg-block" alt="Carousel First" src="<%= asset_path 'Carrousel/carrousel_1_1920_624_000000.png' %>" />
					</div>
					<div class="item">
						<img class="visible-xs-block" alt="Carousel Second" src="<%= asset_path 'Carrousel/carrousel_2_750_350_000000.png' %>" />
						<img class="visible-sm-block" alt="Carousel Second" src="<%= asset_path 'Carrousel/carrousel_2_1220_500_000000.png' %>" />
						<img class="visible-md-block" alt="Carousel Second" src="<%= asset_path 'Carrousel/carrousel_2_1520_550_000000.png' %>" />
						<img class="visible-lg-block" alt="Carousel Second" src="<%= asset_path 'Carrousel/carrousel_2_1920_624_000000.png' %>" />
					</div>
					<div class="item">
						<img class="visible-xs-block" alt="Carousel Third" src="<%= asset_path 'Carrousel/carrousel_3_750_350_000000.png' %>" />
						<img class="visible-sm-block" alt="Carousel Third" src="<%= asset_path 'Carrousel/carrousel_3_1220_500_000000.png' %>" />
						<img class="visible-md-block" alt="Carousel Third" src="<%= asset_path 'Carrousel/carrousel_3_1520_550_000000.png' %>" />
						<img class="visible-lg-block" alt="Carousel Third" src="<%= asset_path 'Carrousel/carrousel_3_1920_624_000000.png' %>" />
					</div>
					-->
				</div> <a class="left carousel-control" href="#carousel-home" data-slide="prev"><span class="glyphicon glyphicon-chevron-left"></span></a> <a class="right carousel-control" href="#carousel-home" data-slide="next"><span class="glyphicon glyphicon-chevron-right"></span></a>
			</div>

		</div>
	</div>

	<div class="row">

	 	<% Category.order('name ASC').each_with_index do |c, i| %>
	 	<!-- <% md = (60/Category.count).to_i %>-->
	 	  <% if i+1 == Category.count && Category.count % 2 != 0 %>
		    <div class="prestations-div-home col-xs-60 col-sm-60 col-md-12">
			<!-- <a class="prestations" id="prestations_<%=i+1%>" alt="Bootstrap Image Preview" href=""></a>-->
			 <%= link_to "", show_galery_path(category: c.id), :class => "prestations", :id => "prestations_#{c.id}", :alt => "Bootstrap Image Preview"  %>
		    </div>
	 	  <% else %>
	 	    <div class="prestations-div-home col-xs-60 col-sm-30 col-md-12" >
			<%= link_to "", show_galery_path(category: c.id), :class => "prestations", :id => "prestations_#{c.id}", :alt => "Bootstrap Image Preview"  %>
		    </div>
		  <% end%>
	 	<% end %>
<!--
		<div class="prestations-div-home col-xs-60 col-sm-30 col-md-12" >
			<a class="prestations" id="prestations_1" alt="Bootstrap Image Preview" href=""></a>
		</div>
		<div class="prestations-div-home col-xs-60 col-sm-30 col-md-12">
			<a class="prestations" id="prestations_2" alt="Bootstrap Image Preview" href=""></a>
		</div>
		<div class="prestations-div-home col-xs-60 col-sm-30 col-md-12">
			<a class="prestations" id="prestations_3" alt="Bootstrap Image Preview" href=""></a>
		</div>
		<div class="prestations-div-home col-xs-60 col-sm-30 col-md-12">
			<a class="prestations" id="prestations_4" alt="Bootstrap Image Preview" href=""></a>
		</div>
		<div class="prestations-div-home col-xs-60 col-sm-60 col-md-12">
			<a class="prestations" id="prestations_5" alt="Bootstrap Image Preview" href=""></a>
		</div>-->

	</div>
</div>