<div class="container">
	<div class="panel panel-default">
    <div class="panel-heading">
			<div class="row">
				<div class="col-md-18 col-lg-18" id="col-photo-video_id">
					<div class="btn-group btn-group-md">

						<%= link_to show_galery_path(type: "pictures", category: params[:category]), remote: false, id: "btn-pictures", class: "btn btn-default" do %>
   					      <em class="glyphicon glyphicon-picture"></em> Pictures
						<% end %>

						<%= link_to show_galery_path(type: "videos", category: params[:category]), remote: false, id: "btn-videos", class: "btn btn-default" do %>
    					  <em class="glyphicon glyphicon-facetime-video"></em> Vidéos
						<% end %>

						<%= link_to show_galery_path(type: "both", category: params[:category]), :remote => false, :id => "btn-both", :class => "btn btn-default active" do %>
						  <em class="glyphicon glyphicon-duplicate"></em> Les 2
						<% end %>

					</div>
				</div>
				<div class="col-md-60 col-lg-42">
					<ul class="nav nav-pills pull-right">

						<% @categories.each do |c| %>
  						  <li class="" id="btn-filter<%= c.id %>">
   						  <%= link_to show_galery_path(category: c.id, type: params[:type]), remote: false, "data-category-id": c.id, class: "category-id" do %>
    					      <span class="badge pull-right"><%= Photosvideo.joins(:pictures).where(category_id: c.id).count + Photosvideo.joins(:galeries).where(category_id: c.id).count  %></span> <%= c.name %>
                              <% end %>
                              </li>
                            <% end %>

						<li class="active " id=btn-filterAll>
   						  <%= link_to show_galery_path(category: 'All', type: params[:type]), remote: false, "data-category-id": 'All', class: "category-id" do %>
    					      <span class="badge pull-right"><%= Photosvideo.joins(:pictures).all.count + Photosvideo.joins(:galeries).all.count  %></span> Tous les thèmes
                              <% end %>
						</li>

					</ul>
				</div>
			</div>
		</div>
<!--DEBUT-->
<%= render "shared/modal_picture" %>
<%= render "shared/modal" %>
  <div id="media_filter" class="container">
<%= render partial: 'partials/media_filter', locals: { medias: @videos} %>
<%= render partial: 'partials/media_filter', locals: { medias: @pictures} %>
</div>
<!--FIN-->

</div>
</div>



<%= render partial: 'partials/galery', formats: [:js] %>