
<div class="row text-center">
  <h1 class="h1-prestations"> Nouvelle demande de prestation </h1>

  <div class="breadcrumb hidden-xs">
    <a href="/prestation_orders/new/step1">Choix de la prestation</a>
    <a href="/prestation_orders/new/step2" class="active">Infos sur le mandant</a>
    <a href="" class="disabled">Infos sur le projet</a>
    <a href="" class="disabled">Récapitulatif et confirmation</a>
  </div>



</div>

  <% if @prestation_order.errors.any? %>
    <div id="error_explanation">
      <h2><%= t("prestation_order.error-header", count: @prestation_order.errors.count)   %>  : </h2>

      <ul>
      <% @prestation_order.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row">

      <div class="panel panel-default">
        <div class="panel-heading">
          <h2> Informations sur le mandant </h2>
        </div>
        <div class="panel-body">

          <div class="col-xs-60 col-sm-60 col-md-30">
            <div class="form-group">
              <%= f.label :name , "Nom *", :class => "control-label col-xs-20"%>
              <div class="input-group col-xs-40">
                <span class="input-group-addon"><span class="glyphicon glyphicon-user"></span></span>
                <%= f.text_field :name, {:required => true, :placeholder => "Nom", :class => "form-control"} %>
              </div>
            </div>

            <div class="form-group">
              <%= f.label :firstname, "Prénom *", :class => "control-label col-xs-20" %>
              <div class="input-group col-xs-40">
                <span class="input-group-addon"><span class="glyphicon glyphicon-user"></span></span>
                <%= f.text_field :firstname, {:required => true, :placeholder => "Prénom", :class => "form-control"} %>
              </div>
            </div>

            <div class="form-group">
              <%= f.label :email, "E-mail *", :class => "control-label col-xs-20" %>
              <div class="input-group col-xs-40">
                <span class="input-group-addon"><span class="glyphicon glyphicon-send"></span></span>
                <%= f.email_field :email, {:required => true, :placeholder => "email@example.com", :class => "form-control"} %>
              </div>
            </div>

            <div class="form-group">
              <%= f.label :tel, "Tél. *", :class => "control-label col-xs-20" %>
              <div class="input-group col-xs-40">
                <span class="input-group-addon"><span class="glyphicon glyphicon-earphone"></span></span>
                <%= f.telephone_field :tel, {:required => true, :placeholder => "0041...", :class => "form-control"} %>
              </div>
            </div>

          </div>

          <div class="col-xs-60 col-sm-60 col-md-30">
            <div class="form-group">
              <%= f.label :entreprise, "Nom entreprise", :class => "control-label col-xs-20" %>
              <div class="input-group col-xs-40">
                <span class="input-group-addon"><span class="glyphicon glyphicon-briefcase"></span></span>
                <%= f.text_field :entreprise, {:placeholder => "Nom de l'entreprise", :class => "form-control"} %>
              </div>
            </div>
            <div class="form-group">
              <%= f.label :availabilities, "Disponibilités *", :class => "control-label col-xs-20" %>
              <div class="input-group col-xs-40">
                <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
                <%= f.text_area :availabilities, {:required => true, :rows => "5", :placeholder => "Vos disponibilités pour un éventuel rendez-vous ...", :class => "form-control"} %>
              </div>
            </div>
          </div>

        </div>
      </div>


  </div>

  <div class="actions text-center">
      <%= f.submit "<< Retour au choix de la prestation", :name => "back_button", :formnovalidate => "" %>
      <%= f.submit "Passer à la suite (infos du projet) >>" %>
  </div>
