

<div class="row text-center">
  <h1 class="h1-prestations"> Nouvelle demande de prestation </h1>

  <div class="breadcrumb hidden-xs">
  	<a href="/prestation_orders/new/step1" class="active">Choix de la prestation</a>
  	<a href="" class="disabled">Infos sur le mandant</a>
    <a href="" class="disabled">Infos sur le projet</a>
  	<a href="" class="disabled">Récapitulatif et confirmation</a>
  </div>

</div>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h2> Choisissez votre prestation </h2>


    </div>
    <div class="panel-body">

      <div class="row">
        <%= f.hidden_field :typeofproduct, value: "" %>

        <div class="prestations-div-home col-xs-60 col-sm-30 col-md-12">
          <%= f.submit PrestationOrder.typesofproduct[0] , {:id => "prestation_1_choose_theme", :class => "prestations_choose_theme"} %>
        </div>

        <div class="prestations-div-home col-xs-60 col-sm-30 col-md-12">
          <%= f.submit PrestationOrder.typesofproduct[1] , {:id => "prestation_2_choose_theme", :class => "prestations_choose_theme"} %>
        </div>

        <div class="prestations-div-home col-xs-60 col-sm-30 col-md-12">
          <%= f.submit PrestationOrder.typesofproduct[2] , {:id => "prestation_3_choose_theme", :class => "prestations_choose_theme"} %>
        </div>

        <div class="prestations-div-home col-xs-60 col-sm-30 col-md-12">
          <%= f.submit PrestationOrder.typesofproduct[3], {:id => "prestation_4_choose_theme", :class => "prestations_choose_theme"} %>
        </div>

        <div class="prestations-div-home col-xs-60 col-sm-60 col-md-12">
          <%= f.submit PrestationOrder.typesofproduct[4], {:id => "prestation_5_choose_theme", :class => "prestations_choose_theme"} %>
        </div>

      </div>

      <div class "row">
        <div clas="col">
          <p>
            « La demande de prestation ci-dessus ne vous engage à payer aucun frais.
            Quand elle est envoyée, YC movies traite la demande dans les plus brefs délais.
            Si le projet est accepté, YC movies vous contacte pour faire une analyse de terrain
            et discuter de la forme de la vidéo que vous souhaitez. Enfin, un devis est élaboré
            avec vous et nous réalisons votre vidéo. N'oubliez pas que nous sommes des étudiants
            en publicité et cinéma. Nous travaillons donc avec rigueur et précision, à des tarifs
             que vous ne trouverez nulle part ailleurs.»
          </p>
        </div>
      </div>
    </div>
  </div>
