
<div class="row text-center">
  <h1 class="h1-prestations"> Nouvelle demande de prestation </h1>
  <div class="breadcrumb hidden-xs">
    <a href="/prestation_orders/new/step1">Choix de la prestation</a>
    <a href="/prestation_orders/new/step2">Infos sur le mandant</a>
    <a href="/prestation_orders/new/step3" class="active">Infos sur le projet</a>
    <a href="" class="disabled">Récapitulatif et confirmation</a>
  </div>

</div>

<div class="row">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h2> Infos sur le projet </h2>
    </div>
    <div class="panel-body">

      <div class="col-xs-60 col-sm-60 col-md-30">

        <div class="form-group">
          <%= f.label :typeofproduct, "Type de prestation ", :class => "control-label col-xs-20" %>
          <div class="input-group col-xs-40">
            <span class="input-group-addon"><span class="glyphicon glyphicon-tag"></span></span>
            <%= f.select :typeofproduct, PrestationOrder.typesofproduct, {}, {:disabled => true,  :class => "form-control" } %>
          </div>
        </div>

        <div class="form-group">
          <%= f.label :product, "Produit *", :class => "control-label col-xs-20" %>
          <div class="input-group col-xs-40">
            <span class="input-group-addon"><span class="glyphicon glyphicon-screenshot"></span></span>
            <%= f.text_area :product, {:required => true, :rows => "5", :placeholder => "Produit à promouvoir (établissement, fête, bar à cocktail, bonne cuisine, …)", :class => "form-control"} %>
          </div>
        </div>

      </div>


      <div class="col-xs-60 col-sm-60 col-md-30">
        <div class="form-group">
          <%= f.label :length, "Durée de la vidéo [min]:[sec] *", :class => "control-label col-xs-20" %>
          <div class="input-group col-xs-40">
            <span class="input-group-addon"><span class="glyphicon glyphicon-time"></span></span>
            <%= f.time_select :length, { :include_seconds => true, :discard_hour => true}, {:class => "form-control form-length"} %>

          </div>
        </div>

        <div class="form-group">
          <%= f.label :other, "Remarques", :class => "control-label col-xs-20" %>
          <div class="input-group col-xs-40">
            <span class="input-group-addon"><span class="glyphicon glyphicon-pencil"></span></span>
            <%= f.text_area :other, {:rows => "5", :placeholder => "Remarques éventuelles (facultatif) : un champ n'est pas clair, une idée, une proposition, etc...", :class => "form-control"} %>
          </div>
        </div>

      </div>



    </div>
  </div>
</div>


<div class="actions text-center">
  <%= f.submit "<< Retour aux infos du mandant", :name => "back_button" %>
  <%= f.submit "Passer au récapitulatif >>" %>
</div>
