<p id="notice"><%= notice %></p>

<h1>Prestation Orders</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Firstname</th>
      <th>Entreprise</th>
      <th>Email</th>
      <th>Tel</th>
      <th>Availabilities</th>
      <th>Typeofproduct</th>
      <th>Product</th>
      <th>Length</th>
      <th>Other</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @prestation_orders.each do |prestation_order| %>
      <tr>
        <td><%= prestation_order.name %></td>
        <td><%= prestation_order.firstname %></td>
        <td><%= prestation_order.entreprise %></td>
        <td><%= prestation_order.email %></td>
        <td><%= prestation_order.tel %></td>
        <td><%= prestation_order.availabilities %></td>
        <td><%= prestation_order.typeofproduct %></td>
        <td><%= prestation_order.product %></td>
        <td><%= prestation_order.length.strftime("%M:%S") %></td>
        <td><%= prestation_order.other %></td>
        <td><%= link_to 'Show', prestation_order %></td>
        <td><%= link_to 'Edit', edit_prestation_order_path(prestation_order) %></td>
        <td><%= link_to 'Destroy', prestation_order, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Prestation Order', "/prestation_orders/new/step1" %>
