<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @prestation_order.name %>
</p>

<p>
  <strong>Firstname:</strong>
  <%= @prestation_order.firstname %>
</p>

<p>
  <strong>Entreprise:</strong>
  <%= @prestation_order.entreprise %>
</p>

<p>
  <strong>Email:</strong>
  <%= @prestation_order.email %>
</p>

<p>
  <strong>Tel:</strong>
  <%= @prestation_order.tel %>
</p>

<p>
  <strong>Availabilities:</strong>
  <%= @prestation_order.availabilities %>
</p>

<p>
  <strong>Typeofproduct:</strong>
  <%= @prestation_order.typeofproduct %>
</p>

<p>
  <strong>Product:</strong>
  <%= @prestation_order.product %>
</p>

<p>
  <strong>Length:</strong>
  <%= @prestation_order.length %>
</p>

<p>
  <strong>Other:</strong>
  <%= @prestation_order.other %>
</p>

<%= link_to 'Edit', edit_prestation_order_path(@prestation_order) %> |
<%= link_to 'Back', prestation_orders_path %>
